@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.btn-admin {
  background-color: #39c70a; }

.btn-delete {
  background-color: #c7390a; }

.btn-snes {
  background-color: #4f43ae;
  color: #b5b6e4; }

.btn-snes-invert {
  background-color: #b5b6e4;
  color: #4f43ae; }

.btn-orange {
  background-color: #d17002;
  color: #dbdbdb; }

.btn-blue {
  background-color: #0a98c7;
  color: black; }

.warn-text {
  color: #c7390a; }

body {
  background-color: #343840;
  font-family: "Audiowide", sans-serif; }

.content-panel {
  background-color: #111919;
  border-radius: 20px;
  color: #dbdbdb;
  padding: 1em; }

a,
a:hover {
  text-decoration: none; }

.site-navbar {
  background-color: #111919;
  border-bottom: 3px solid #d17002; }

.site-navbar_text {
  color: #dbdbdb; }

.site-navbar_accent {
  color: #d17002;
  font-family: "Press Start 2P", sans-serif; }

.site-footer {
  background-color: #111919;
  color: #dbdbdb;
  font-family: "Press Start 2P", sans-serif; }

.entry-item,
.entry-item_widget,
.entry-item_comment {
  background-color: #111919; }

.entry-item {
  margin-bottom: 0.5em; }

.entry-item:hover {
  border: 1px #d17002 solid; }

.entry-item_title {
  color: #d17002; }

.entry-item_text {
  color: #dbdbdb;
  font-family: "Glegoo", serif; }

.widget-items p {
  color: #d17002;
  margin: 0; }

.widget-item_secondary {
  color: #dbdbdb !important;
  padding-left: 2em; }

.display-entry {
  background-color: #111919;
  text-align: center; }

.display-entry_img {
  margin: auto; }

.display-entry_title {
  color: #d17002; }

.display-entry_text {
  color: #dbdbdb;
  font-family: "Glegoo", serif; }

.display-entry_details {
  color: #d17002; }

.admin-dashboard,
.create-entry,
.admin-register,
.create-series {
  background-color: #111919;
  color: #dbdbdb;
  padding: 1em;
  text-align: center; }

.admin-title {
  color: #d17002; }

.moderate-comments {
  color: #dbdbdb; }

.admin-comment {
  background-color: #111919;
  padding: 0.5em; }

.admin-entry-item {
  background-color: #111919;
  color: #dbdbdb; }

.code-red {
  border-left: 10px red solid; }

.code-yellow {
  border-left: 10px yellow solid; }

.code-blue {
  border-left: 10px blue solid; }

.user-favorites h1 {
  color: #d17002;
  text-align: center; }
