@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.btn-admin {
  background-color: #39c70a; }
  .btn-admin:hover {
    color: #dbdbdb; }

.btn-delete {
  background-color: #c7390a; }
  .btn-delete:hover {
    color: #dbdbdb; }

.btn-snes {
  background-color: #4f43ae;
  color: #b5b6e4;
  margin: 0.5em; }
  .btn-snes:hover {
    background-color: #b5b6e4;
    color: #343840; }

.btn-orange {
  background-color: #d17002;
  color: #dbdbdb; }
  .btn-orange:hover {
    color: #343840; }

.btn-blue {
  background-color: #0a98c7;
  color: black; }

.spinner {
  color: #d17002; }

.warn-text {
  color: #c7390a; }

body {
  background-color: #343840;
  font-family: "Audiowide", sans-serif; }

.content-panel {
  background-color: #111919;
  border-radius: 20px;
  color: #dbdbdb;
  padding: 1em; }

a,
a:hover {
  text-decoration: none; }

.small-only {
  display: none; }

@media only screen and (max-width: 800px) {
  .small-only {
    display: block; }
  .large-only {
    display: none; } }

.site-navbar {
  background-color: #111919;
  border-bottom: 3px solid #d17002; }

.site-navbar_text {
  color: #dbdbdb; }

.site-navbar_accent {
  color: #d17002;
  font-family: "Press Start 2P", sans-serif; }

.site-footer {
  background-color: #111919;
  color: #dbdbdb;
  font-family: "Press Start 2P", sans-serif; }

.site-navbar_burger {
  color: #d17002; }

.entry-item,
.entry-item_widget,
.entry-item_comment {
  background-color: #111919; }

.entry-item {
  margin-bottom: 0.5em; }

.entry-item:hover {
  border: 1px #d17002 solid; }

.entry-item_title {
  color: #d17002; }

.entry-item_text {
  color: #dbdbdb;
  font-family: "Glegoo", serif; }

.widget-items p {
  color: #d17002;
  margin: 0; }

.widget-item_secondary {
  color: #dbdbdb !important;
  padding-left: 2em; }

.display-entry {
  background-color: #111919;
  text-align: center; }

.display-entry_img {
  margin: auto; }

.display-entry_title {
  color: #d17002; }

.display-entry_text {
  color: #dbdbdb;
  font-family: "Glegoo", serif; }

.display-entry_details {
  color: #d17002; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.user-list {
  color: #dbdbdb; }

.user-list_title {
  color: #d17002; }

.user-card {
  background-color: #111919;
  border-radius: 5px;
  color: #dbdbdb;
  padding: 1em;
  margin: 0.75em; }

.user-card a:hover {
  color: #dbdbdb; }

.user-card_title {
  color: #d17002; }

.user-card_link {
  color: #d17002; }
  .user-card_link:hover {
    color: #4f43ae; }
