@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
body {
  background-color: #343840;
  font-family: "Audiowide", sans-serif; }

.content-panel {
  background-color: #111919;
  border-radius: 20px;
  color: #dbdbdb;
  padding: 1em; }

.site-navbar {
  background-color: #111919;
  border-bottom: 3px solid #d17002; }

.site-navbar_text {
  color: #dbdbdb; }

.site-navbar_accent {
  color: #d17002;
  font-family: "Press Start 2P", sans-serif; }

.site-footer {
  background-color: #111919;
  color: #dbdbdb;
  font-family: "Press Start 2P", sans-serif; }

.entry-item {
  background-color: #111919; }

.entry-item_title {
  color: #d17002; }

.entry-item_text {
  color: #dbdbdb;
  font-family: "Glegoo", serif; }

.widget-items p {
  color: #d17002;
  margin: 0; }

.widget-item_secondary {
  color: #dbdbdb !important;
  padding-left: 2em; }
