html {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: $main-font, sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrapper {
  flex-grow: 1;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

// Buttons
.btn-admin {
  background-color: $hp-green;
  &:hover {
    color: $text-color;
  }
}

.btn-delete {
  background-color: $hp-red;
  &:hover {
    color: $text-color;
  }
}

.btn-snes {
  background-color: $snes-purple;
  color: $snes-blue;
  margin: 0.5em;
  &:hover {
    background-color: $snes-blue;
    color: $background-color;
  }
}

.btn-orange {
  background-color: $accent-color;
  color: $text-color;
  margin: 0 1em;
  &:hover {
    color: $background-color;
  }
}

.btn-orange-block {
  background-color: $accent-color;
  color: $text-color;
  &:hover {
    color: $background-color;
  }
}

.btn-blue {
  background-color: $hp-user;
  color: black;
}

// Spinner
.spinner {
  color: $accent-color;
}

// Text
.hp-warning {
  color: $hp-red;
}

.accent-text {
  color: $accent-color;
}

.article-text {
  font-family: $article-text, serif;
}

.purple-text {
  color: $snes-purple;
}

// User and Admin Dashboards
.dashboard {
  background-color: $card-color;
  border-radius: 15px;
  color: $text-color;
  padding: 1em;
}

// used for components that produce a panel
.hp-card {
  background-color: $card-color;
  border-radius: 5px;
  color: $text-color;
  padding: 1em;
  margin: 0.75em;
}

.hp-card_link {
  color: $accent-color;
  &:hover {
    color: $snes-purple;
  }
}

.hp-card_series {
  color: $text-color;
  &:hover {
    border: $accent-color 1px solid;
  }
}

// used for components that produce lists of panels
.hp-list {
  background-color: $card-color;
  color: $text-color;
}

.hp-list_item {
  background-color: $background-color;
  margin-top: 1em;
}

.hp-list_item-padding {
  padding: 1em;
}

// for components that need their own mini-nav
.hp-nav {
  border-bottom: black 1px solid;
}

.hp-nav-active {
  background-color: $accent-color;
  color: $text-color;
}

.hp-nav-inactive {
  color: $accent-color;
  &:hover {
    color: $text-color;
    cursor: pointer;
  }
}

// specific for messages
.hp-unread {
  border-left: $accent-color 8px solid;
}

.hp-message {
  border-left: $snes-purple 8px solid;
}

.hp-message_text {
  background-color: $text-color;
  color: $card-color;
  font-family: $article-text, serif;
  margin: 1.3em auto;
  padding: 1em;
  width: 80%;
}

// color code for comments and tickets
.code-red {
  border-left: 10px red solid;
}

.code-yellow {
  border-left: 10px yellow solid;
}

.code-blue {
  border-left: 10px blue solid;
}

// delete account page
.hp-card_delete-account p {
  margin: 1em;
}
