// Fonts
@import url("https://fonts.googleapis.com/css?family=Audiowide");
$main-font: "Audiowide";

@import url("https://fonts.googleapis.com/css?family=Glegoo");
$article-text: "Glegoo";

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
$accent-text: "Press Start 2P";

// Neutral w/ orange accent
$background-color: #343840;
$card-color: #111919;
$text-color: #dbdbdb;
$accent-color: #d17002;
