// Admin Dashboard, Moderate Comments, and Create Entry Form

.admin-dashboard,
.create-entry,
.admin-register,
.create-series {
  background-color: $card-color;
  color: $text-color;
  padding: 1em;
  text-align: center;
}

.admin-title {
  color: $accent-color;
}

.moderate-comments {
  color: $text-color;
}

.admin-comment {
  background-color: $card-color;
  padding: 0.5em;
}

.admin-entry-item {
  background-color: $card-color;
  color: $text-color;
}

.code-red {
  border-left: 10px red solid;
}

.code-yellow {
  border-left: 10px yellow solid;
}

.code-blue {
  border-left: 10px blue solid;
}
