// Entry Item and Menu Widget

.entry-item,
.entry-item_widget {
  background-color: $card-color;
}

.entry-item:hover {
  border: 1px $accent-color solid;
}

.entry-item_title {
  color: $accent-color;
}

.entry-item_text {
  @include article-text;
}

.widget-items p {
  color: $accent-color;
  margin: 0;
}

.widget-item_secondary {
  color: $text-color !important;
  padding-left: 2em;
}
